doctype html
html
  head
    meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
    title Верстка
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.2/semantic.min.css')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    style(type='text/css' rel='stylesheet').
      .classname {
        -webkit-animation: cssAnimation 8s linear infinite;
        -moz-animation: cssAnimation 8s linear infinite;
        -o-animation: cssAnimation 8s linear infinite;
        display: inline-block;
        text-align: center;
        width: 20px !important;
        height: 20px !important;
        line-height: 20px;
        margin: 0 !important;
      }

      .classname--mod {
        -webkit-animation: cssAnimation1 6s linear infinite;
        -moz-animation: cssAnimation1 6s linear infinite;
        -o-animation: cssAnimation1 6s linear infinite;
        position: relative;
        font-size: 0.8em !important;
        left: -13px;
        top: 5px;
      }

      .classname--mod1 {
        -webkit-animation: cssAnimation1 6s linear infinite;
        -moz-animation: cssAnimation1 6s linear infinite;
        -o-animation: cssAnimation1 6s linear infinite;
        position: relative;
        font-size: 0.8em !important;
        left: -30px;
        top: -7px;
      }

      @-webkit-keyframes cssAnimation {
        from {
          -webkit-transform: rotate(0deg);
        }
        to {
          -webkit-transform: rotate(360deg);
        }
      }

      @-moz-keyframes cssAnimation {
        from {
          -moz-transform: rotate(0deg);
        }
        to {
          -moz-transform: rotate(360deg);
        }
      }

      @-o-keyframes cssAnimation {
        from {
          -o-transform: rotate(0deg);
        }
        to {
          -o-transform: rotate(360deg);
        }
      }

      @-webkit-keyframes cssAnimation1 {
        from {
          -webkit-transform: rotate(360deg);
        }
        to {
          -webkit-transform: rotate(0deg);
        }
      }

      @-moz-keyframes cssAnimation1 {
        from {
          -moz-transform: rotate(360deg);
        }
        to {
          -moz-transform: rotate(0deg);
        }
      }

      @-o-keyframes cssAnimation1 {
        from {
          -o-transform: rotate(360deg);
        }
        to {
          -o-transform: rotate(0deg);
        }
      }

      html, body {
        font-family: 'Verdana', Arial;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        color: rgba(134, 174, 204, 1);
        background: rgba(212, 228, 239, 1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(212, 228, 239, 1) 0%, rgba(212, 228, 239, 1) 22%, rgba(134, 174, 204, 1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(212, 228, 239, 1)), color-stop(22%, rgba(212, 228, 239, 1)), color-stop(100%, rgba(134, 174, 204, 1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(212, 228, 239, 1) 0%, rgba(212, 228, 239, 1) 22%, rgba(134, 174, 204, 1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(212, 228, 239, 1) 0%, rgba(212, 228, 239, 1) 22%, rgba(134, 174, 204, 1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(212, 228, 239, 1) 0%, rgba(212, 228, 239, 1) 22%, rgba(134, 174, 204, 1) 100%);
        background: radial-gradient(ellipse at center, rgba(212, 228, 239, 1) 0%, rgba(212, 228, 239, 1) 22%, rgba(134, 174, 204, 1) 100%);
      }

      body {
        margin: 0;
        padding: 0;
        min-height: 100%;
        display: table;
        height: 100%;
        text-align: center;
      }

      a {
        text-decoration: underline;
        color: #000;
        font-family: "Trebuchet MS";
        font-size: 14px;
        letter-spacing: .05em;
        transition: all .5s ease-out;
        font-weight: 300;
        opacity: 1;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
        height: 15px;
        display: inline-block;
        line-height: 22px
      }

      a:visited {
        color: #999;
        outline: none;
        border: 0
      }

      a:hover {
        color: red;
        text-decoration: none;
        letter-spacing: .25em;
        transition: all .2s ease-out;
        font-weight: 700;
        opacity: .7;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
        font-size: 22px
      }

      a:first-letter {
        color: #000
      }

      h1 {
        font-size: 20px
      }

      #id {
        opacity: 0;
        transition: all 0.6s ease-out;
        transform: translate3d(0, 20px, 0);
      }

      #id.is-active {
        opacity: 1;
        transition: all 0.6s ease-out;
        transform: translate3d(0, 0, 0);
      }

  body
    div(style='display: table-cell; vertical-align: middle;')
      div#id
        noindex
          h1.ui.header Верстка "Славдом" 00.00.0000

          p
            i.checkmark.icon
            a(href='ui.html' target='_blank') UI

          p
            i.checkmark.icon
            a(href='main.html' target='_blank') Главная

          p
            i.checkmark.icon
            a(href='catalog1.html' target='_blank') Каталог

          p
            i.checkmark.icon
            a(href='catalog1lvl.html' target='_blank') Каталог ур.1

          p
            i.checkmark.icon
            a(href='catalog2lvl.html' target='_blank') Каталог ур.2

          p
            i.checkmark.icon
            a(href='catalog2lvlcollection.html' target='_blank') Каталог ур.2 Коллекция

          p
            i.checkmark.icon
            a(href='card-collection.html' target='_blank') Карточка коллекции

          p
            i.checkmark.icon
            a(href='search-product.html' target='_blank') Поиск

          p
            i.checkmark.icon
            a(href='search-no-result.html' target='_blank') Поиск - нет результата

          p
            i.checkmark.icon
            a(href='favorites.html' target='_blank') Избранное

          p
            i.checkmark.icon
            a(href='favorites-clear.html' target='_blank') Избранное пусто
          p
            i.checkmark.icon
            a(href='card-product.html' target='_blank') Карточка товара
          p 
            i.checkmark.icon
            a(href='compare.html' target='_blank') Сравнение

          p(style='padding-left: 30px;')
            i.classname.icon.setting
            i.classname.classname--mod.icon.setting
            i.classname.classname--mod1.icon.setting

     

    script.
      window.addEventListener('load', function () {
        document.querySelector('#id').classList.add('is-active')
      });

